.wrapper_form {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  margin: 0 auto;
  gap: 10px;
  padding: 10px;
}
.content_form {
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
.question_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.input {
  width: 60%;
  border-radius: 5px;
}
.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
.answer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.answer_input {
  width: 80%;
  border-radius: 5px;
}
.button_container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  gap: 10px;
}

.button {
  background-color: #05A552;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}